@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    background: #e5e5e5;
    
    
}


.logo__Alura{
    margin-left: 40px;
    margin-top: 40px;
    width: 120px;
    height: 48px;
    
}

.text-area{
    font-family: "Inter", "sans-serif";
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    border: none;
    color: #0a3871;
    margin-top: 168px;
    margin-left: 240px;
    text-transform: lowercase;
    width: 680px;
    height: 288px;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

::placeholder {color: #0a3871;}
    .text-area:focus {
        outline: none;
    }

.exclamacao{
    width: 252px;
    height: 18px;
    margin-top: 851px;
    margin-left: 240px;
    gap: 8px;
    font-family: "Inter", "sans-serif";
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #495057;
}

.mensagem{
    background: white;
    background-image: url(./assets/figura\ para\ texto.png);
    background-repeat: no-repeat;
    background-position: 32px 243px;
    
    border: 1px;
    border-radius: 24px;
    color: #0a3871;
    margin-left: 1000px;
    margin-top: 40px;
    position:static;
    height: 944px;
    width: 400px;
    border-radius: 32px;
    gap: 72px;
    font-family:"Inter", "sans-serif" ;
    font-weight: 400;
    font-size: 16px;
    gap: 8px;

}


.mensagem:focus{
    outline: none;
}

.botoes{
    display: flex;
    margin-top: 18px;
    gap: 24px
}

.btn-criptografar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
    font-family: "Inter", "sans-serif";
    font-weight: 400;
    font-size: 16px;
    margin-top: 885px;
    margin-left: 240px;
    

}

.btn-descriptografar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    width: 328px;
    font-family: "Inter", "sans-serif";
    font-weight: 400;
    font-size: 16px;
    margin-top: 885px;
    margin-right: 520px;
}

.btn-copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;  
    margin-top: 1232px;
    width: 336px;
    font-family: "Inter", "sans-serif";
    font-weight: 400;
    font-size: 16px;
    margin-left: 400px;
    margin-right: 72px;
    
}


    
